# Environment and cache
/venv/
.env
cache/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
.pytest_cache
.ruff_cache
.import_linter_cache
.mypi_cache
.mypy_cache

# Logs and output files
logs/
*.log
*.zip
tests/results/

# OS specific files
.DS_Store
.DS_Store?

# IDE files
.idea/
.claude/
.vscode/
*.swp
*.swo
.cursor/

tool/models
.venv_tool
