# Deny everything by default.
**

# Allow only files required by the TRT Dockerfile.
!.dockerignore
!Dockerfile
!requirements.txt
!download/
!download/**
!common/download/
!common/download/**
!common/scripts/
!common/scripts/**
!scripts/
!scripts/**
!src/
!src/**
